/* theme dark */

.bg-black {
    background-color: #000;
}

.bg-light-black {
    background-color: #333333 !important;
}

.text-black {
    color: #000;
}

.text-light-black {
    color: #333333;
}

.bg-dark-primary {
    background-color: #fcbc73 !important;
}

.text-dark-primary {
    color: #03dac6 !important;
}


/* theme light */

.bg-light {
    background-color: #fff;
}

.bg-light-2 {
    background-color: #dadcde;
}

.bg-light-primary {
    background-color: #00c04b !important;
}

.text-light-primary {
    color: #cf6679 !important;
}